.real_checkbox {
	
}

.custom_checkbox {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #b87171;
	border: 2px solid black;
	border-radius: 4px;
	vertical-align: sub;

	&::before {
		content: '';

		display: inline-block;
		width: 13px;
		height: 13px;
		background-image: url(../../../../../public/check-mark-svgrepo-com.svg);
		background-size: contain;
		background-repeat: no-repeat;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}