@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #181920;
	color: white;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #5A54D6;
    border-radius: 6px;
	cursor: grab;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}