@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #181920;
	color: white;
}

::-webkit-scrollbar {
	width: 6px;
	scrollbar-width: thin;
}

::-webkit-scrollbar-thumb {
	background-color: #5a54d6;
	border-radius: 6px;
	cursor: grab;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}
